*
!.xprofile
!.emacslist
!.applist
!README
!.Xresources
!.emacs
!.gitignore
!.diery.org
!.variables
!.aliases
!.tmux.conf
!/scripts
/scripts/*
!/scripts/makehome.sh
!/.config
/.config/*
!/.config/awesome
/.config/awesome/*
!/.config/awesome/in_error.lua
!/.config/awesome/rc.lua
!/.config/awesome/themes
/.config/awesome/themes/*
!/.config/awesome/themes/carnation/
/.config/awesome/themes/carnation/*
!/.config/awesome/themes/carnation/*
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/ranger/rifle.conf
!/.config/systemd
/.config/systemd/*
!/.config/systemd/user
!/.config/systemd/user/capsctrlswitcher.service