!#if __has_include(".extend.Xresources")
!#include ".extend.Xresources"
!#endif

XTerm*VT100.translations:       #override \n\
    Ctrl ~Shift ~Meta <Key>Return: string("\033[73;5~") \n\
    Ctrl Shift ~Meta <Key>percent: string("\033[37;6~") \n\
    Ctrl ~Shift ~Meta <Key>.: string("\033[46;5~") \n\
    Ctrl ~Shift ~Meta <Key>comma: string("\033[44;5~")
XTerm.vt100.locale: true
XTerm*ptyInitialErase: true
XTerm.termName: xterm-256color
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
!Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
!Xft.font: Monospace:pixelsize=16:autohint=false:antialias=true:hinting=false
XTerm*background: #222121
XTerm*foreground: #cdcdcd
XTerm.vt100.faceName: DejaVu Sans Mono:size=12:antialias=false
XTerm.vt100.font: 7x13
! XTerm.vt100.faceName: DejaVu Mono:size=12:antialias=true
! XTerm.vt100.font: 7x13
XTerm.pointerColor: #16A085
XTerm.utf8: 1
XTerm*utf8Title: true
XTerm*altIsNotMeta: true
XTerm*backarrowKeyIsErase: true
!==============================================================================
! Цвета
!==============================================================================
XTerm*colorBD:     #e6d51d
!xterm*background:  #111111
XTerm*veryBoldColors: 6
!xterm*foreground:  #b4b4b4
! Чёрный
XTerm*color0:      #000000
XTerm*color8:      #555753
! Красный
XTerm*color1:      #b6212d
XTerm*color9:      #ff6565
! Зелёный
XTerm*color2:      #4c8d00
XTerm*color10:     #6bbe1a
! Жёлтый
XTerm*color3:      #ff8040
XTerm*color11:     #e6d51d
! Синий
XTerm*color4:      #0086d2
XTerm*color12:     #00d2ff
! Маджента
XTerm*color5:      #963c59
XTerm*color13:     #d3649f
! Циановый
XTerm*color6:      #105952
XTerm*color14:     #177f75
! Белый
XTerm*color7:      #cdcaa9
XTerm*color15:     #ffffff

!XTerm*font   xft:Monospace:pixelsize=16:autohint=false:antialias=true:hinting=false
!XTerm*faceName: Bitstream Vera Serif Mono
!XTerm*faceSize: 12
XTerm*bolfFont:
XTerm*scrollBar:        false
!XTerm*geometry:         80x50
XTerm*eightBitInput:    false
XTerm*eightBitOutput:    true
XTerm*altSendsEscape: true
XTerm*colorBDMode:      true
XTerm*boldMode:         on
XTerm*alwaysBoldMode:   false
XTerm*dynamicColors:    on
XTerm*colorMode:        on
XTerm*saveLines:        10000
XTerm*visualBell:       false

!
!URxvt
!
!URxvt.copyCommand:	xclip -i -selection clipboard
URxvt.font:             xft:Dejavu Sans Mono:size=12
URxvt.pasteCommand:	xsel -ob
URxvt*color0:           #676767
URxvt*color8:           #757575
!red
URxvt*color1:           #EA6868
URxvt*color9:           #FF7272
!green
URxvt*color2:           #ABCB8D
URxvt*color10:          #AFD78A
!yellow
URxvt*color3:           #E8AE5B
URxvt*color11:          #FFA75D
!blue
URxvt*color4:           #71C5F4
URxvt*color12:          #67CDE9
!magenta
URxvt*color5:           #E2BAF1
URxvt*color13:          #ECAEE9
!cyan
URxvt*color6:           #21F1EA
URxvt*color14:          #357F35
!white
URxvt*color7:           #F1F1F1
URxvt.background:       #000000
!urxvt*background: rgba:0000/0000/0200/c800
URxvt.foreground:       #CCCCCC
!#36FFFC
Urxvt.scrollstyle:	plain
!URxvt*color10:          #AFD78A
!
URxvt*perl-ext:		default,matcher,selection,tabbed
!URxvt.transparent: true
!URxvt.shading: 50
!URxvt*perl-ext-common:	clipboard
! URxvt.keysym.M-c:   	perl:clipboard:copy
! URxvt.keysym.M-v:   	perl:clipboard:paste
! URxvt.keysym.M-C-v:	perl:clipboard:paste_escaped
!
!URxvt*font:		xft:terminus:size=16
!URxvt.font: screen8x16
!URxvt.font:		xft:Monospace:pixelsize=16:autohint=false:antialias=true:hinting=false
!Urxvt.font:              xft:Monospace:pixelsize=16:autohint=false:antialias=true:hinting=false
!URxvt*letterSpace:    	-1
URxvt.geometry:		106x29
!urxvt.inheritPixmap: True
!urxvt.tintColor: #d3d7cf
!urxvt.shading: 30
!************8
!URxvt.scrollstyle:      plain
URxvt.scrollBar: false

